@charset "UTF-8";
/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #007BFF;
    text-align: center;
    margin-bottom: 20px;
}

a {
    display: block;
    text-align: center;
    padding: 10px 15px;
    margin: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #007BFF;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

a:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}
